<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle"
                aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mongoose Scraper</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-toggle">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="/saved">Saved Articles</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form">
                    <button id="scrape-btn" type="button" class="btn btn-info" data-toggle="modal" data-target="#scrapeModal">Scrape New Articles!</button>
                </form>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-img"></div>
    <div class="caption">
        <h1>Mongoose Scraper</h1>
        <p>Hacker News Edition</p>
    </div>
</div>

<div class="container articles-div">
    {{#each articles}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <a href="{{this.link}}" target="_blank" class="article-link">{{this.title}}</a>
                </h3>
                {{#if this.saved}}
                    <button type="button" class="btn btn-default saved" data-id="{{this._id}}" disabled>Saved</button>
                {{else}}
                    <button type="button" class="btn btn-default save-article-btn" data-id="{{this._id}}" data-toggle="modal" data-target="#saveModal">Save</button>
                {{/if}}
            </div>
            <div class="panel-body">
                <p>Source: <a href="https://{{this.site}}" target="_blank">{{this.site}}</a></p>
            </div>
        </div>
    {{/each}}
</div>

<!-- Initial Scrape Modal -->
<div class="modal fade" id="initScrapeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><img id="emoji" src="./assets/img/waving-hand-emoji.png" /> Welcome to Mongoose Scraper<br />Click <a href="/scrape">here</a> to scrape!</h4>
            </div>
        </div>
    </div>
</div>

<!-- Scrape Modal -->
<div class="modal fade" id="scrapeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Articles successfully scraped!</h4>
            </div>
        </div>
    </div>
</div>

<!-- Save Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div id="article-saved-div">
                <div class="modal-header">
                    <h4 class="modal-title">Article saved!</h4>
                    <button type="button" class="btn btn-primary add-note-btn">Add A Note</button>
                </div>
            </div>
            
            <div id="add-note-div">
                <div class="modal-body">
                    <form id="add-note-form">
                        <div class="form-group">
                            <label for="note-title">Title:</label>
                            <input id="note-title" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="note-body">Note:</label>
                            <textarea id="note-body" class="form-control" rows="10"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary save-note-btn">Save Note</button>
                </div>
            </div>

            <div id="note-saved-div">
                <h4 class="modal-title">Note saved!</h4>
            </div>
        </div>
    </div>
</div>

<footer class="footer navbar-fixed-bottom">
        <span class="text-muted text-center">&copy; 2018 Melodie Chi &bull; Hacker News Mongoose Scraper</span>
</footer>